body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.button {
  outline: none;
  font-size: 1.6em;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 15px;
  border: solid 2px white;
  background: none;
}

.button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.text {
  padding: 15px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 10px;
  font-size: 5em;
  border: solid 2px;
  color: rgb(255, 255, 255);
}

.textAnimation {
  animation-name: textColorChange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.backgroundAnimation {
  animation-name: backgroundColorChange;
  animation-duration: 13s;
  animation-iteration-count: infinite;
}

@keyframes backgroundColorChange {
  0% {
    background-color: #142850;
  }
  10% {
    background-color: #27496d;
  }
  20% {
    background-color: #0c7b93;
  }
  30% {
    background-color: #00a8cc;
  }
  40% {
    background-color: #6124a7;
  }
  50% {
    background-color: #a71787;
  }
  60% {
    background-color: #188a80;
  }
  70% {
    background-color: #3c78a0;
  }
  80% {
    background-color: #103e4d;
  }
  90% {
    background-color: #27496d;
  }
  100% {
    background-color: #142850;
  }
}

@keyframes textColorChange {
  0% {
    color: #900c3f;
  }
  15% {
    color: #c70039;
  }
  30% {
    color: #ff5733;
  }
  45% {
    color: #f89d13;
  }
  60% {
    color: #ffc300;
  }
  75% {
    color: #f89d13;
  }
  90% {
    color: #ff5733;
  }
  100% {
    color: #900c3f;
  }
}
